body {
  color: Silver;
  background-image: url(background.jpg);
  background-repeat: repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}
* {
  color: silver;
}
.container input {
  margin-top: 30px;
}

.container h2 {
  border-bottom: none;

}

.container h1 {
  border-bottom: 1px solid silver;
}

.sign-up button {
  margin-top: 10px;
  width: 100px;
}

h2 {
  margin-top: 10px;
  border-bottom: 1px solid #17A2B8;
  color:#17A2B8;
}

h3 {
  margin-top: 10px;
  
}

.left li {
  text-align: left;
}

/* center {
  text-align: center;
} */

.white a {
  color: white;
}

.white a:link  {
  color: white;
}

.white a:visited  {
  color: white;
}

.white a:hover {
  text-decoration: none;
}

.teal a {
  color: #17A2B8;
}

.teal a:link  {
  color: teal;
}

.teal a:hover {
  text-decoration: none;
  color: white;
}

/* .hide {
  display: none;
}

.display {
  display: block;
}

.show {
  display: block;
}

.dontshow {
  display: none;
}

.true {
  display: block;
}

.false {
  display: none;
} */


li {
  list-style: square;
}